@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400...700&display=swap");
@import "tailwindcss";
@plugin "tailwind-scrollbar";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-roboto-mono: "Roboto Mono", monospace;
  --color-tokyo-night-storm: #24283b;
  --color-tokyo-night: #1a1b26;

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}

@utility bg-gold-gradient {
  background: #d19e1d;
  background: -webkit-linear-gradient(
    90deg,
    #d19e1d 0%,
    #ffd86e 50%,
    #e3a812 100%
  );
  background: linear-gradient(90deg, #d19e1d 0%, #ffd86e 50%, #e3a812 100%);
}

@utility animate-shimmer {
  @apply relative overflow-hidden;
  &::after {
    content: "";
    @apply inset-0 absolute;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    animation: shimmer 3s infinite;
  }
}

/* CodeMirror overrides */
/* Override to allow tailwind setting of font-family as parent className */
.cm-editor .cm-scroller {
  font-family: inherit;
}

.cm-editor.cm-focused {
  outline: none; /* Removes default outline */
}
